<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="DemoAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<connectionStrings><!--<add name="ConganxaEntities" connectionString="metadata=res://*/Conganxa.csdl|res://*/Conganxa.ssdl|res://*/Conganxa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-162C879;initial catalog=Conganxa;user id=sa;password=1234567890aA@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="ConganxaEntities" connectionString="metadata=res://*/Conganxa.csdl|res://*/Conganxa.ssdl|res://*/Conganxa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-162C879;initial catalog=Conganxa;persist security info=True;user id=sa;password=1234567890aA@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
        <DemoAccess.Properties.Settings>
            <setting name="skin" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
        </DemoAccess.Properties.Settings>
    </userSettings>
</configuration>
